*{
    margin: auto;
}

.contenu{
    background-color: #c7a27e;
    height: 1300px;
}

button{
    cursor: pointer;
}

.contenu h3{
  font-size: 15px;
  color: #fcffdc;
}

input{
  cursor: text;
}

.lesSelections input[type=file]{
  padding: 6px;
}

input[type=button]{
  cursor: pointer;
}

input[type=submit]{
  cursor: pointer;
  font-weight: bold;
}

select{
  cursor: default;
}

.lesSelections{
    text-align: center;
    position: relative;
    top: 100px;
    width: 700px;
    font-size: 20px;
    color: white;
    padding-top: 70px; 
    padding-bottom: 110px;
    padding-left: 40px;
    padding-right: 40px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: #806346;
    box-shadow: 10px 7px 3px white;
  }

  .valider{
    border-radius: 10px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100px;
    height: 36px;
  }

.lesSelections input, .lesSelections select{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 10px;
    padding: 6px;
    color: rgb(44, 31, 22);
}


.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135px;  
  background: #383228;
  border-bottom: 3px solid white;
}

.header h1{
  height: 10%;
  color: white;
  font-size: 50px;
  text-align: center;
  position: relative;
  top: 30%;
  font-family: cursive;
  font-style: italic;
  text-shadow: 0px 2px 2px rgb(206, 206, 206);
}


  .cercleExt2{
    width: 30px;
    padding: 15px;
    border-radius: 80px;
    border: 2px solid #383228;
    background-color: #fefee2;
}

.cercleExt3{
  width: 30px;
  padding: 15px;
  border-radius: 80px;
  border: 2px solid #383228;
  background-color: #d3ffc5;
}

.cercleExt{
  width: 30px;
  padding: 15px;
  border-radius: 80px;
  border: 2px solid #383228;
  background-color: #d0f8ff;
  box-shadow: 0px 0px 20px white;
  animation-delay: 5s;
  animation-duration: 15s;
  animation-iteration-count:infinite;
  animation-name: roue;
}


 @keyframes 
  roue {
    to {
        transform: rotate(360deg);
    }
  }


  .nomPage{
      width: 100%;
      text-align: center;
      position: relative;
      top: 200px;
      color: #383228;
  }

    .petitTexte{
      font-size: 15px;
      margin-left: 20px;
      margin-top: 20px;
      color: black;
    }

  .barre{
    height: 6px;
    width: 1100px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 235px;
    left: 40px;
  }

  .aligner{
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}